<?php
/**
 * @var Zefiryn\InPost\Block\Script $this
 */
?>
<?php if ($this->useGoogleMaps()):?>
    <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getGoogleMapKey();?>" async defer></script>
<?php elseif ($this->useOpenLayersMaps()):?>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css">
    <script src="<?php echo $this->getViewFileUrl('Zefiryn_InPost::js/lib/ol.js')?>"></script>
<?php elseif ($this->useLeafletMaps()):?>
    <script src="<?php echo $this->getViewFileUrl('Zefiryn_InPost::js/lib/leaflet.js')?>"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/stable/leaflet.css" />
    <link rel="stylesheet" href="<?php echo $this->getViewFileUrl('Zefiryn_InPost::css/MarkerCluster.css')?>" />
    <link rel="stylesheet" href="<?php echo $this->getViewFileUrl('Zefiryn_InPost::css/MarkerCluster.Default.css')?>" />
<?php endif; ?>