#inpost-machine-list-wrapper {
    .selected-machine {
        font-weight: bold;
    }
    .load-more {
        &:before {
            content: '\1F50D';
        }
        float: right;
        cursor: pointer;
        font-size: small;
    }
    #inpost-machine-list {
        margin: 10px 0;
    }
    #machine-map {
        width: 100%;
        height: 500px;
        background-color: #ccc;
    }
}