<div id="inpost-machine-list-wrapper" data-bind="visible: selectedMethod() == 'inpost_inpost'">
    <p data-bind="visible: !showMachineSelection(), i18n: 'Please provide postcode to see nearest machines'"></p>
    <div data-bind="visible: showMachineSelection()">
        <p>
            <span data-bind="i18n: 'Selected machine: '"></span>
            <span class="selected-machine" data-bind="text: selectedMachine"></span>
            <span class="load-more" data-bind="i18n: 'Find more machines.', click: addMoreMachines(), visible: limit() < 100"></span>
        </p>
        <select style="display: none;" id="inpost-machine-list" data-bind="options: machines(),
                                            value: selectedMachine,
                                            optionsValue: 'name',
                                            optionsText: function(item){return item.location + ' (' + item.name +')';}">
        </select>
        <div id="machine-map"></div>
    </div>
</div>