<?php
/**
 * @var \Zefiryn\InPost\Block\Adminhtml\Order\Create\Shipping\Method\Form $block
 */
?>
<div id="inpost-machine-list-wrapper" data-mage-init='{"Zefiryn_InPost/js/form": {}}'>
    <div id="machine-selection">
        <p>
            <span><?php echo __('Select destination machine.');?></span>
        </p>
        <select id="inpost-machine-list" name="order[inpost_machine]">
            <?php foreach($block->getMachines() as $machine): /** @var \Zefiryn\InPost\Api\Data\MachineInterface $machine */?>
                <option value="<?php echo $machine->getName()?>"><?php echo $machine->getLocation();?></option>
            <?php endforeach;?>
        </select>
        <div id="machine-map"></div>
    </div>
</div>